<h1> Playlister </h1>

<br><br>
<%= @artist_display.display_artist_songs %>

<br><br>
<%= @artist_display.pull_artist_songs %>
<br><br>
<%= @artist_display.testc %>
<br><br>
<%= @artist_display.testd %>
<br><br>
<%= @artist_display.teste %>
<br><br>

<br>
<br>
<%= @artist_display.test %>